{% load i18n static admin_adminlte %}

<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->

    {% admin_get_menu as app_list %}
    {% if app_list %}
    {% for app in app_list %}
    {% if app.has_perms and not app.pinned %}
    <li class="nav-item {% if 'dashboard' in parent %} menu-open {% endif %}">
      <a class="nav-link {% if app_label != app.label and app.url not in request.path|urlencode  %} collapsed{% endif %}"
        data-bs-toggle="collapse" data-bs-target="#submenu-{{ app.app_label }}" href="{{ app.url }}">
        <i class="nav-icon {{ app.icon }}"></i>
        <p>
          {{ app.label|slice:10 }}{% if app.label|length > 10 %}..{% endif %}
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>

      {% if app.models %}
      <ul class="nav nav-treeview">
        {% for model in app.models %}
        {% if model.url %}
        <li class="nav-item">
          <a class="nav-link {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}"
            href="{{ model.url }}">
            <i class="far fa-circle nav-icon"></i>
            <p>{{ model.label }}</p>
          </a>
        </li>
        {% else %}
        <li class="nav-item">{{ model.label }}</li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endif %}
    {% endfor %}
    {% endif %}

    {% if request.user.is_superuser %}
    <li class="nav-item">
      <a href="{% url "map-view" %}" class="nav-link {% if 'profiles' in segment %} active {% endif %}">
        <i class="nav-icon fas fa-map"></i>
        <p>Maps</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url "business" %}" class="nav-link {% if 'business' in segment %} active {% endif %}">
        <i class="nav-icon fas fa-business-time"></i>
        <p>Busines</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url "collection" %}" class="nav-link {% if 'profiles' in segment %} active {% endif %}">
        <i class="nav-icon fas fa-money-bill"></i>
        <p>Collection</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url "user_logs" %}" class="nav-link {% if 'profiles' in segment %} active {% endif %} ">
        <i class="nav-icon fas fa-clipboard"></i>
        <p>Users logs</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url "logout" %}" class="nav-link ">
        <i class="nav-icon fas fa-user-alt"></i>
        <p>Logout</p>
      </a>
    </li>
    {% endif %}

    {% if request.user.staff %}
    <li class="nav-item">
      <a href="{% url "map-view" %}" class="nav-link {% if 'profiles' in segment %} active {% endif %}">
        <i class="nav-icon fas fa-map"></i>
        <p>Maps</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url "business" %}" class="nav-link {% if 'business' in segment %} active {% endif %}">
        <i class="nav-icon fas fa-business-time"></i>
        <p>Busines</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url "collection" %}" class="nav-link {% if 'profiles' in segment %} active {% endif %}">
        <i class="nav-icon fas fa-money-bill"></i>
        <p>Collection</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url "logout" %}" class="nav-link ">
        <i class="nav-icon fas fa-user-alt"></i>
        <p>Logout</p>
      </a>
    </li>
  
    {% endif %}          

    {% if request.user.admin %}
    <li class="nav-item">
      <a href="{% url "map-view" %}" class="nav-link {% if 'profiles' in segment %} active {% endif %}">
        <i class="nav-icon fas fa-map"></i>
        <p>Maps</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url "business" %}" class="nav-link {% if 'business' in segment %} active {% endif %}">
        <i class="nav-icon fas fa-business-time"></i>
        <p>Busines</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url "collection" %}" class="nav-link {% if 'profiles' in segment %} active {% endif %}">
        <i class="nav-icon fas fa-money-bill"></i>
        <p>Collection</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url "user_logs" %}" class="nav-link {% if 'profiles' in segment %} active {% endif %} ">
        <i class="nav-icon fas fa-clipboard"></i>
        <p>Users logs</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url "sms" %}" class="nav-link {% if 'profiles' in segment %} active {% endif %} ">
        <i class="nav-icon fas fa-paper-plane"></i>
        <p>SMS</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url "logout" %}" class="nav-link ">
        <i class="nav-icon fas fa-user-alt"></i>
        <p>Logout</p>
      </a>
    </li>
  
    {% endif %}    
    
  </ul>